doctype html
html(lang="en" ng-app="app")
  head
    title Surf's Up
    include preload 
  body(ng-controller="HomeController as home")
    //- div(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="true")
    div.overlay(ng-attr-class="{{mapLoaded && 'fadeOut' || 'overlay' }}" ng-hide="animationFinished")
      include loading 
    #site-wrapper(ng-class="sideMenu ? 'show-nav' : ''")
      #site-canvas
        #site-menu(ng-class="sideMenu ? 'show-nav' : ''" ui-view)
        include sideTab
        include navbar
        div(ng-controller="GoogleMapController" id="map")
    include dependencies
    include scripts
