
nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ng-click="resetMap()").
        Cerferus
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          span.navbar-text.navbar-left(class="glyphicon glyphicon-info-sign" ng-click="openSidebar()" ui-sref="default")
        li
          a(ng-click="openSidebar()" ui-sref="overview") Overview
          
      form.navbar-left.navbar-form(ng-controller="TypeAheadController" ui-sref="details" ng-submit="onSubmit()")
        .form-group
          input.form-control(type="text" ng-model="searchBeach" typeahead="beach for beach in beachChoices | filter:$viewValue" placeholder ="Search for a beach")
        span(type="submit" class="glyphicon glyphicon-search" ng-click="onSubmit(searchBeach)")
